html {
    background-color: #002663;
}

.WhiteText {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #FFF;
}

body > h1#Title_Text {
    text-align: center;
    padding: 5px;
    width: 40%;
    font-size: 65px;
    margin-left: auto;
    margin-right: auto;
    position: flex;
}

img#Header_Photo {
    width: 40px;
    height: 58px;
}

ol.WhiteText > li {
    padding: 5px;
}

ol.WhiteText > li > button {
    padding-top: 4px;
    padding-bottom: 4px;
}

p#SubTitle_Text {
    text-align: center;
}

div#Current_Potholes {
    border-radius: 25px;
    width: 45%;
    float: left;
    background-color: #00173d;
    margin-top: 10px;
}

.container {
    border-radius: 25px;
    background-color: #00173d;
    margin: 10px;
    padding: 20px;
    width: 50%;
    float: right;
}

.container2 {
    border-radius: 5px;
    background-color: #00173d;
    margin: 10px;
    padding: 20px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

div#map {
    width: 80%;
    height: 700px;
}

#InputBox {
    height: 50%;
    width: 50%;
    padding: 10px;
    font-size: 15px;
}

#SubmitBox {
    height: 100%;
    width: 15%;
    padding: 10px;
    font-size: 15px;
    background-color: #04aa6d;
    color: #FFF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}